In [1]:
import pandas as pd
import statistics

## Загрузка csv-файла

In [2]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# display(melb_data)

In [4]:
# melb_data.loc[3521, 'Landsize']

In [5]:
# round(melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'])

## Вывод первых строк (по умолчанию 5)

In [6]:
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

## Вывод последних строк (по умолчанию 5)

In [7]:
# melb_data.tail(7)

## РАЗМЕРНОСТЬ ТАБЛИЦЫ

In [8]:
 melb_data.shape

(13580, 23)

## ПОЛУЧЕНИЕ ИНФОРМАЦИИ О СТОЛБЦАХ

In [9]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

## Переопределение типов данных

In [10]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

## Значение статистических параметров только для определённых столбцов

In [11]:
# melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

In [12]:
describe_tab = melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
describe_tab

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

## describe() для типа данных object
* количество непустых строк (count);
* количество уникальных значений (unique);
* самое частое значение — мода —  (top);
* частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

In [13]:
objects_type = melb_data.describe(include=['object'])
objects_type

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

##  Сколько раз в столбце повторяется каждый из вариантов значений

In [14]:
melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

##  Сколько раз в столбце повторяется каждый из вариантов значений, normalize=True - то в долях

In [15]:
# melb_data['Regionname'].value_counts(normalize=True)

In [16]:
type_build = melb_data['Type'].value_counts()
type_build

h    9449
u    3017
t    1114
Name: Type, dtype: int64

## PY_10 Задание 6
Доля таунхаусов ( t)

In [17]:
round(100*type_build.loc['t']/objects_type.loc['count','Suburb'])

8

In [18]:
type_build.loc['t']

1114

In [19]:
type_build.value_counts()

9449    1
3017    1
1114    1
Name: Type, dtype: int64

In [20]:
objects_type.loc['count','Suburb']

13580

Конец

Средняя цена на объект

In [21]:
# melb_data['Price'].mean()

Максимальное количество парковочных мест

In [22]:
# melb_data['Car'].max()

Прибыльность при накрутке 12 %

In [23]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

Насколько медианная площадь территории отличается от её среднего значения. 
Вычислим модуль разницы между медианой и средним и разделим результат на среднее, чтобы получить отклонение в долях.

In [24]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

Распространнёный регион. 
Показатель моды — самого распространённого значения в столбце. Он вычисляется с помощью метода mode(), может быть несколько.

In [25]:
melb_data['Regionname'].mode()

0    Southern Metropolitan
dtype: object

In [29]:
# melb_data['Propertycount'].max()

In [28]:
# round(melb_data['Distance'].std())

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения

In [29]:
area_median = melb_data['BuildingArea'].median() 
area_mean =  melb_data['BuildingArea'].mean()
print(round(100*abs(area_median - area_mean)/area_mean))

10

In [30]:
ryad = pd.Series(data = [1, 2, 4, 2, 3, 2, 1, 5, 6], name = "ryad")

In [31]:
ryad.mode()

0    2
dtype: int64

In [32]:
my_mode = statistics.mode(ryad) 
my_mode

2

In [33]:
melb_data['Bedroom'].mode()

0    3
dtype: int64

## Маска для фильтра

In [34]:
mask = melb_data['Price'] > 2000000
# display(mask)

In [30]:
# display(melb_data[mask].head())
# melb_data[melb_data['Price'] > 2000000]     Другой вариант фильтра, сразу запись условия

Количество зданий с тремя комнатами. Число строк в ней с помощью атрибута shape.

In [31]:
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

Число трёхкомнатных домов с ценой менее 300 тысяч.

In [32]:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

Дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров.

In [33]:
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

Максимальное количество комнат в таунхаусах.

In [34]:
melb_data[melb_data['Type'] == 't']['Rooms'].max()

5

Медианная площадь здания у объектов, чья цена выше средней.

In [35]:
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

Объекты недвижимости где отсутствуют ванные комнаты.

In [36]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

 Объекты недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов

In [37]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

Минимальная стоимость участка без здания

In [38]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

 Средняя цена объектов недвижимости с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года

In [39]:
price_usl = melb_data['Price'] < 1000000
mean_price = melb_data[(price_usl)&((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()
round(mean_price)

769239

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [40]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
dtype: object

In [ ]:
https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv