In [1]:
import pandas as pd

In [3]:
students_data = pd.read_csv('data/students_performance.csv', sep=',')

* gender — пол;
* race/ethnicity — раса/этническая принадлежность;
* parental level of education — уровень образования родителей;
* lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
* test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
* math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [4]:
display(students_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
students_data.shape

(1000, 8)

In [7]:
students_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**Балл по письму у студента под индексом 155**

In [8]:
students_data.loc[155, 'writing score']

88

In [10]:
students_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

Cредний балл по математике

In [12]:
round(students_data.loc[:, 'math score'].mean())

66

Cредний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам

In [16]:
round(students_data[students_data['test preparation course'] == 'completed']['reading score'].mean())

74

Сколько студентов получили 0 баллов по математике?

In [18]:
students_data[students_data['math score'] == 0].shape[0]

1

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [19]:
students_data[students_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [20]:
students_data[students_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

Процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)

In [25]:
quant_stud = students_data[students_data['parental level of education'] == "bachelor's degree"].shape[0]
part_stud = 100*quant_stud / students_data.shape[0]
round(part_stud)

12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [39]:
medi_score_A = students_data[students_data['race/ethnicity'] == "group A"]['writing score'].median()
medi_score_C = students_data[students_data['race/ethnicity'] == "group C"]['writing score'].median()

In [44]:
multi = medi_score_A - medi_score_C

In [45]:
round(abs(multi))

6