In [1]:
import pandas as pd

In [2]:
tripdata_city_data = pd.read_csv('data/citibike-tripdata.csv', sep = ',')
tripdata_df = tripdata_city_data.copy()
tripdata_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

* starttime — время начала поездки (дата, время);
* stoptime — время окончания поездки (дата, время);
* start station id — идентификатор стартовой стоянки;
* start station name — название стартовой стоянки;
* start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
* end station id — идентификатор конечной стоянки;
* end station name — название конечной стоянки;
* end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
* bikeid — идентификатор велосипеда;
* usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
* birth year — год рождения клиента;
* gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [3]:
tripdata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

**Сколько пустых значений в столбце start station id**

In [4]:
tripdata_df['starttime'].count() - tripdata_df['start station id'].count()

169

In [5]:
int(tripdata_df['start station id'].mode())

281

In [6]:
tripdata_df['bikeid'].mode()

0    33887
dtype: int64

### Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [8]:
# tripdata_df[tripdata_df['usertype']=='Subscriber']['usertype'].value_counts(normalize=True)
usertype_ser = tripdata_df['usertype'].value_counts(normalize=True)
# round(usertype_ser['Subscriber'] - usertype_ser['Customer'], 2)
round(usertype_ser['Subscriber'], 2)

0.77

In [9]:
tripdata_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [10]:
tripdata_df['birth year'].max()

2002

In [11]:

tripdata_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [12]:
tripdata_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [13]:
abs(tripdata_df['start station id'].nunique() - tripdata_df['end station id'].nunique())

6

In [15]:
tripdata_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
tripdata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [18]:
tripdata_df['age'] = 2018 - tripdata_df['birth year']
tripdata_df[tripdata_df['age']>60]['age'].count()

11837

**Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и временем её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.
Для того чтобы преобразовать временной интервал timedelta в секунды, используется атрибут seconds (в datetime атрибут был second — в единственном числе).**

* data['starttime'] = pd.to_datetime(data['starttime'])
* data['stoptime'] = pd.to_datetime(data['stoptime'])
* data['trip duration'] = (data['stoptime'] - data['starttime']).dt.seconds
* print(round(data['trip duration'].mean())

In [105]:
tripdata_df['starttime'] = pd.to_datetime(tripdata_df['starttime'])
tripdata_df['stoptime'] = pd.to_datetime(tripdata_df['stoptime'])

tripdata_df['trip duration'] = (tripdata_df['stoptime'] - tripdata_df['starttime']).dt.seconds
# tripdata_df['trip duration'].mean().seconds
round(tripdata_df['trip duration'].mean())

1000

**Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.**

In [79]:
tripdata_df['weekend'] = tripdata_df['starttime'].dt.dayofweek.apply(lambda x: 1 if x > 4 else 0)
tripdata_df[tripdata_df['weekend'] == 1]['weekend'].count()

115135

**Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:**
* поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
* поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
* поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
* поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

**Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.**

In [81]:
def time_day(time_of_day):
    if 0<= time_of_day <= 6:
        return 'night'
    elif 6< time_of_day <= 12:
        return 'morning'
    elif 12< time_of_day <= 18:
        return 'day'
    elif 18< time_of_day <= 23:
        return 'evening'

In [88]:
tripdata_df['time_of_day'] = tripdata_df['starttime'].dt.hour.apply(time_day)

trip_day = tripdata_df[tripdata_df['time_of_day'] == 'day']['time_of_day'].count()
trip_night = tripdata_df[tripdata_df['time_of_day'] == 'night']['time_of_day'].count()
round(trip_day/trip_night)

9